/* Hero Section */

.hero-sec form select {
  border: 2px solid var(--light-grey);
  background-color: white;
  font-size: 1.25rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.hero-sec form select {
  width: 50%;
}

.hero-sec form select:focus {
  outline: inherit;
}